
.title {
    text-align: center;
    color: hsl(290, 89%, 41%);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;

}
.title h2 {
    font-size: 32px;
    color: hsl(170, 63%, 49%);
    margin-top: 5px;
    text-transform: none;
}

.about-img{
    width: 100%;
    border-radius: 10px;

}

.play-icon {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}