

nav{
    width: 100%;
   
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo {
    width: 180px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 18px;
    font-size: 16px;
    
}

.dark-nav{
    background-color: hsl(0, 0%, 31%);
    transition: 0.5s;
}