

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background: #F5F5F5;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container {
    padding-left: 10%;
    padding-right: 10%;
}


nav ul li .btn {
    background: linear-gradient(135deg, #3b82f6, #1e40af);
    color: #fff;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(59, 130, 246, 0.3);
}


nav ul li .btn:hover {
    background: linear-gradient(135deg, #1e40af, #3b82f6);
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(59, 130, 246, 0.45);
}


nav ul li .btn:active {
    transform: scale(0.96);
}


.btn {
    background: linear-gradient(135deg, #29ca9d, #af1e1e);
    color: #fff;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(59, 130, 246, 0.3);
}


.btn img {
    width: 15px;
    margin-left: 10px;
}

.btn.dark-button {
    background: #212EA0;
    color: #fff;
}


/* ------Media-Queries------ */

@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn {
        padding: 10px 20px;
        font-size: 13px;
    }
}